@charset "UTF-8";
@import "../chameleon/chameleon.scss";

$font-size: 13px;
$line-height: 1.4;

$chameleon-app-background: transparent;
$chameleon-font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
$chameleon-font-size: 13px;
$chameleon-font-size-small: 11.05px;
$chameleon-font-size-big: 15.6px;
$chameleon-line-height: 1.4;

$t-orange: rgb(229, 113, 37);
$t-red: rgb(214, 43, 11);
$t-white: rgb(255, 255, 255);
$t-grey: rgb(147, 149, 152);
$t-blue: rgb(97, 197, 191);

$t-margin: 12px;

@mixin tribestream {
  @include chameleon;

  .t-breadcrumb {
    &::after {
      @extend .v-label;
      content: " →";
      display: inline;
    }
  }

  .t-breadcrumb-trail {

    &.v-margin-top {
      padding-top: 0;
    }

    &.v-margin-bottom {
      padding-bottom: 0;
    }
  }

  h1,
  .h1,
  h2,
  .h2 {
    color: $t-orange;
    padding: 0;
  }

  .t-repository-title {
    @extend h2;
    @extend .h2;
    @extend .v-label-h2;
  }

  .t-repository-box {
    margin: $t-margin;
    background-color: $t-orange;
    width: 200px;
    height: 200px;

    &,
    * {
      color: $t-white;
      cursor: pointer;
    }
  }

  .t-header {

    &.v-margin-bottom {
      padding-bottom: 0;
    }
  }

  .t-sub-header {
    padding: 0 $t-margin;
  }

  .v-table {
    @extend .striped;
    @extend .v-table-striped;
  }

  .v-panel-content {
    @extend .borderless;
    @extend .v-panel-borderless;
    @extend .v-panel-content-borderless;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="file"],
  button {
    background: transparent;
    border: none;
  }

  .v-link {
    &,
    a,
    span {
      vertical-align: initial;
    }
  }

  &.v-app {
    background: $t-white;
  }

  .v-window,
  .v-popupview-popup,
  .v-filterselect-suggestpopup,
  .v-datefield-popup,
  .v-contextmenu,
  .v-Notification,
  .v-menubar-submenu {
    background-color: $t-white;
  }

  body.v-ie6 & .v-window,
  body.v-ie7 & .v-window,
  body.v-ie6 & .v-popupview-popup,
  body.v-ie7 & .v-popupview-popup,
  body.v-ie6 & .v-filterselect-suggestpopup,
  body.v-ie7 & .v-filterselect-suggestpopup,
  body.v-ie6 & .v-datefield-popup,
  body.v-ie7 & .v-datefield-popup,
  body.v-ie6 & .v-contextmenu,
  body.v-ie7 & .v-contextmenu,
  body.v-ie6 & .v-menubar-submenu,
  body.v-ie7 & .v-menubar-submenu,
  .v-panel-content,
  .v-panel-bubble .v-panel-captionwrap,
  .v-panel-bubble .v-panel-deco-bubble,
  .v-tabsheet-content,
  .v-tabsheet-tabitem-selected,
  .v-slider-base,
  .v-window-modalitycurtain,
  .v-window-opaque,
  .v-progressindicator-wrapper,
  .v-accordion-item-caption,
  .v-accordion-item-open .v-accordion-item-caption:active,
  .v-accordion-opaque div.v-accordion-item-open,
  .v-table-scrollposition,
  .v-table-body {
    background-color: $t-white;
  }

  &.v-app,
  .v-window,
  .v-popupview-popup,
  &.v-app input,
  &.v-app button,
  &.v-app textarea,
  .v-window input,
  .v-window button,
  .v-window textarea,
  .v-popupview-popup input,
  .v-popupview-popup button,
  .v-popupview-popup textarea,
  .v-filterselect-suggestpopup,
  .v-datefield-popup,
  .v-datefield-calendarpanel-header button,
  .v-contextmenu,
  .v-Notification,
  .v-menubar-submenu,
  .v-table-header-drag,
  .v-filterselect-select-button .v-filterselect-input,
  .v-drag-element {
    font-size: $font-size;
    color: rgb(60, 59, 54);
  }

  &.v-app select,
  .v-window select,
  .v-popupview-popup select,
  .v-datefield-popup select {
    font-size: $font-size;
  }

  .v-label,
  .sidebar-menu .v-label,
  .v-table-scrollposition {
    //optional-generated-shadow
  }

  .v-button:active,
  .v-ie & .v-button.v-pressed,
  div.v-button-down,
  .v-slider .v-slider-handle-active {
    background-color: $t-grey;
    border-color: rgb(114, 114, 108);
  }

  div.v-button-down:active {
    background-color: rgb(142, 142, 135);
  }

  .v-button:focus {
    background-color: $t-grey;
  }

  .v-button:active .v-button-wrap,
  .v-ie & .v-button.v-pressed .v-button-wrap,
  .v-button-down .v-button-wrap,
  .v-datefield-calendarpanel-header td,
  .v-slider-base,
  .v-tabsheet-scrollerNext,
  .v-tabsheet-scrollerNext-disabled,
  .v-tabsheet-scrollerNext-disabled:active,
  .v-table-header-wrap,
  .v-table-body,
  .v-table-resizer,
  div.v-table-focus-slot-left,
  div.v-table-focus-slot-right,
  input.v-textfield,
  textarea.v-textarea,
  .v-filterselect {
    border-color: $t-grey;
  }

  input.v-textfield,
  textarea.v-textarea,
  .v-filterselect {
    border-bottom-color: $t-grey;
    border-left-color: $t-grey;
    border-right-color: $t-grey;
  }

  .v-button,
  .v-disabled.v-button:focus,
  .v-disabled.v-button:active,
  .v-datefield-button,
  .v-datefield-calendarpanel-header button,
  td.v-datefield-calendarpanel-month,
  .v-datefield-calendarpanel-weekdays strong,
  .v-slider-handle,
  .v-table-header-wrap,
  .v-table-generated-row,
  .v-table-header-drag,
  .v-filterselect-prevpage-off,
  .v-filterselect-nextpage-off,
  .v-filterselect-prevpage,
  .v-filterselect-nextpage,
  .v-filterselect-select-button,
  .v-splitpanel-hsplitter,
  .v-splitpanel-vsplitter,
  .v-splitpanel-hsplitter-locked,
  .v-splitpanel-vsplitter-locked,
  .v-accordion-opaque,
  .v-accordion-opaque .v-accordion-item-open,
  .v-accordion-opaque .v-accordion-item-caption,
  .v-accordion-opaque .v-accordion-item-open .v-accordion-item-caption:active,
  .v-tabsheet-scroller,
  .v-csslayout-toolbar,
  .v-menubar {
    background-color: rgb(222, 221, 211);
    border-color: rgb(142, 142, 135);
  }

  .v-button .v-button-wrap,
  .v-disabled.v-button:focus .v-button-wrap,
  .v-disabled.v-button:active .v-button-wrap,
  .v-datefield-calendarpanel-header button,
  td.v-datefield-calendarpanel-month,
  .v-window-wrap,
  .v-popupview-popup,
  .v-filterselect-suggestpopup,
  .v-datefield-popup,
  .v-contextmenu,
  .v-menubar-submenu,
  .v-panel-bubble .v-panel-caption-bubble,
  .v-slider-handle,
  .v-tabsheet-tabitem-selected .v-caption,
  .v-table-header-wrap,
  .v-table-generated-row,
  .v-table-header-drag,
  .v-filterselect-prevpage-off,
  .v-filterselect-nextpage-off,
  .v-filterselect-prevpage,
  .v-filterselect-nextpage,
  .v-filterselect-select-button,
  .v-progressindicator-indicator,
  .v-accordion-item-caption,
  .v-accordion-item-open .v-accordion-item-caption:active,
  .v-tabsheet-scroller,
  .v-csslayout-toolbar,
  .v-menubar {

  }

  .v-datefield-calendarpanel-weekdays strong,
  .v-splitpanel-hsplitter-small,
  .v-splitpanel-vsplitter-small,
  .v-splitpanel-hsplitter-small-locked,
  .v-splitpanel-vsplitter-small-locked {
    background-color: $t-grey;
  }

  .v-progressindicator-wrapper {
    border-color: $t-grey;
  }

  .v-button,
  .v-disabled.v-button:focus,
  .v-disabled.v-button:active,
  .v-datefield-calendarpanel-header button,
  td.v-datefield-calendarpanel-month,
  .v-tabsheet-tabitem-selected .v-caption,
  .v-window-header,
  .v-table-caption-container,
  .v-accordion-item-caption,
  .v-menubar .v-menubar-menuitem,
  .v-filterselect-select-button .v-filterselect-input {
    text-shadow: 0 1px 0 rgb(235, 235, 232);
  }

  .v-window,
  .v-popupview-popup,
  .v-filterselect-suggestpopup,
  .v-datefield-popup,
  .v-contextmenu,
  .v-Notification,
  .v-menubar-submenu,
  .v-panel-caption,
  .v-panel-nocaption,
  .v-panel-content,
  .v-panel-deco,
  .v-panel-light .v-panel-caption-light,
  .v-panel-bubble .v-panel-captionwrap,
  .v-panel-bubble .v-panel-content-bubble,
  .v-panel-bubble .v-panel-deco-bubble,
  .v-tabsheet-tabitem-selected,
  .v-tabsheet-tabitem,
  .v-tabsheet-spacertd div,
  .v-tabsheet-content,
  .v-tabsheet-deco,
  .v-slider,
  .v-splitpanel-hsplitter,
  .v-splitpanel-vsplitter,
  .v-splitpanel-hsplitter-locked,
  .v-splitpanel-vsplitter-locked,
  .v-table-scrollposition,
  .v-accordion,
  .v-accordion-item-caption,
  .v-accordion-item-open,
  .v-menubar-separator span {
    border-color: rgb(204, 204, 204);
  }

  .v-label-color,
  .v-button-link,
  .v-button-link:focus,
  .v-button-link:active,
  .v-disabled.v-button-link,
  .v-disabled.v-button-link:focus,
  &.v-app a,
  .v-popupview-popup a,
  .v-popupview,
  .sidebar-menu .v-label {
    color: rgb(0, 162, 216);
  }

  .v-button-default,
  .v-disabled.v-button-default,
  .v-disabled.v-button-default:focus,
  .v-button-default:active,
  .v-ie7 & .v-button-default.v-pressed,
  .v-ie8 & .v-button-default.v-pressed,
  .sidebar-menu .tab-selected,
  .sidebar-menu .selected,
  .v-horizontallayout-segment-alternate .v-button-down {
    border-color: rgb(26, 110, 138);
  }

  .v-button-default:focus,
  .v-horizontallayout-segment-alternate .v-button-down:active {
    background-color: rgb(17, 134, 173);
  }

  .v-button-default:active .v-button-wrap,
  .v-ie7 & .v-button-default.v-pressed .v-button-wrap,
  .v-ie8 & .v-button-default.v-pressed .v-button-wrap,
  .v-progressindicator-indicator,
  .v-datefield-calendarpanel-day-focused,
  .v-datefield-calendarpanel-day:hover,
  .v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
    border-color: rgb(17, 134, 173);
  }

  .v-button-default,
  .v-disabled.v-button-default,
  .v-disabled.v-button-default:focus,
  .v-button-default:active,
  .v-ie7 & .v-button-default.v-pressed,
  .v-ie8 & .v-button-default.v-pressed,
  .v-panel-bubble .v-panel-caption,
  .v-datefield-calendarpanel-day-selected,
  .v-table tr.v-selected,
  .v-contextmenu .gwt-MenuItem-selected,
  .v-contextmenu .gwt-MenuItem-selected div,
  .v-filterselect-suggestpopup .gwt-MenuItem-selected,
  .v-progressindicator-indicator,
  .v-tree-node-selected span,
  .sidebar-menu .tab-selected,
  .sidebar-menu .selected,
  .v-horizontallayout-segment-alternate .v-button-down,
  .v-menubar .v-menubar-menuitem-selected,
  .v-menubar-submenu .v-menubar-menuitem-selected {
    background-color: rgb(0, 162, 216);
    color: rgb(248, 250, 250);
    text-shadow: 0 -1px 0 rgb(26, 110, 138);
  }

  .v-ie6 & .v-progressindicator-indicator {
    background-color: rgb(0, 162, 216);
  }

  .v-panel-caption,
  .v-table-striped .v-table-row-odd,
  .sidebar-menu {
    background: rgb(219, 236, 241);
  }

  .sidebar-menu .tab-selected,
  .sidebar-menu .selected {
    text-shadow: 0 1px 0 rgb(26, 110, 138);
  }
}
