@charset "UTF-8";
@import "../chameleon/chameleon.scss";
@import "_default.scss";

$font-size: 13px;
$line-height: 1.4;

$chameleon-app-background: transparent;
$chameleon-font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
$chameleon-font-size: 13px;
$chameleon-font-size-small: 11.05px;
$chameleon-font-size-big: 15.6px;
$chameleon-line-height: 1.4;

$t-orange: rgb(229, 113, 37);
$t-red: rgb(214, 43, 11);
$t-white: rgb(255, 255, 255);
$t-grey: rgb(147, 149, 152);
$t-blue: rgb(97, 197, 191);
$t-black: rgb(0, 0, 0);

$t-light-grey: rgb(239, 239, 238);

$t-margin: 12px;

@mixin tribestream {
  @include chameleon;
  @include defaults;

  .t-body,
  .t-main-column,
  .t-wrapper {
    &.v-margin-top,
    &.v-margin-bottom,
    &.v-margin-left,
    &.v-margin-right {
      padding: 0;
    }
  }

  .t-main-column {
    &.v-margin-left,
    &.v-margin-right {
      padding-left: $t-margin;
      padding-right: $t-margin;
    }

    .t-header {
      &.v-margin-left,
      &.v-margin-right {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .t-breadcrumb {
    &::after {
      @extend .v-label;
      content: " →";
      display: inline;
    }
  }

  .t-breadcrumb-trail {
    &.v-margin-top {
      padding-top: 0;
    }

    &.v-margin-bottom {
      padding-bottom: 0;
    }
  }

  h1,
  .h1,
  h2,
  .h2 {
    color: $t-orange;
    padding: 0;
  }

  h2,
  .h2 {
    padding-top: $t-margin;
  }

  .t-wrapper {
    &.v-margin-top {
      padding-top: $t-margin;
    }

    h2,
    .h2 {
      padding: 0;
    }
  }

  .t-required {
    color: $t-red;
  }

  .t-repository-title {
    @extend h2;
    @extend .h2;
    @extend .v-label-h2;
  }

  .t-repository-box {
    margin: $t-margin;
    background-color: $t-orange;
    width: 200px;
    height: 200px;

    &,
    * {
      color: $t-white;
      cursor: pointer;
    }
  }

  .t-header {

    &.v-margin-bottom {
      padding-bottom: 0;
    }
  }

  .t-sub-header {
    padding: 0 $t-margin;
  }

  .v-table {
    @extend .striped;
    @extend .v-table-striped;
  }

  .v-panel {
    @extend .borderless;
    @extend .v-panel-borderless;
  }

  &.v-app {
    button {
      background: $t-orange;
      color: $t-white;
      border: none;

      &.t-options {
        background: transparent;
        color: $t-black;
      }
    }
  }

  .v-link {
    &,
    a,
    span {
      vertical-align: initial;
    }
  }

  .v-formlayout tr:nth-child(even) {
    background-color: $t-light-grey;
  }
}
